* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(photoholgic-g89EckcbeTk-unsplash.jpg) no-repeat center;
    z-index: -1;
    filter: blur(10px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left {
    height: 100%;
    background: url(photoholgic-g89EckcbeTk-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.right {
    padding: 25px 40px;
}

h1 {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

h1:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #aeaeae;

}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 1em;
    
}

.input-title {
    margin-top: .5em;
}

.send-button {
    width: 100%;
    padding: .5rem 1rem;
    font-size: .9rem;
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
    border: none;
}

.send-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.field {
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-size: 1.1rem;
    margin-bottom: 15px;
    transition: .9s;
}

.field:hover {
    background-color: rgba(0,0,0,0.1);
}

.field:focus {
    background-color: rgb(250, 250, 250);
}

.area {
    min-height: 150px;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
}